<% include partials/header.ejs %>

<div class="col-md-2">
    previous
</div>

<div class="col-md-8">
    <div class="img-thumbnail">
        <img class="img-responsive" src="<%=picture.imageLink%>">
        <div id="picture-text">
            <div class="pull-right">
                <em>Added by</em> hossamk
            </div>
            <h3><%=picture.name%></h3>
            <%=picture.description%>
            <div id="edit-buttons" class="text-center">
                <a href="/pictures/<%=picture.id%>/edit" class="btn btn-primary">Edit</a>
                <form action="/pictures/<%=picture.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger delete-button">Delete</button>
                </form>
            </div>
        </div>
    </div>
    <div class="well">
        <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Add Comment
        </button>
        <div class="collapse" id="collapseExample">
            <form action="/pictures/<%=picture.id%>/comments" method="POST">
                <textarea class="form-control" name="text"></textarea>
                <button class="btn btn-info">Submit</button>
            </form>
        </div>
        <% for(var i = 0; i < picture.comments.length; i++) { %>
       
        <hr>
        <div class="comment">
            <strong><%=picture.comments[i].author.username%></strong>
            <form class="pull-right delete-button" action="/pictures/<%=picture.id%>/comments/<%=picture.comments[i].id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger btn-xs">Delete</button>
            </form>
            
            <span>
                <button class="btn btn-xs btn-primary pull-right edit-comment-button">Edit</button>
                <div class="hidden edit-textbox">
                    <form action="/pictures/<%=picture.id%>/comments/<%=picture.comments[i].id%>?_method=PUT" method="POST">
                        <textarea class="form-control" name="commentText"><%=picture.comments[i].text%></textarea>
                        <button class="btn btn-info btn-sm">Submit</button>
                    </form>
                </div>
                <div class="comment-text">
                    <%=picture.comments[i].text%>
                </div>
            </span>
        </div>
       
        <% } %>
    </div>
</div>

<div class="col-md-2">
    <span class="pull-right">next</span>
</div>

<% include partials/footer.ejs %>