<% include partials/header.ejs %>

<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="thumbnail">
        <img class="img-fluid" src="<%=picture.imageLink%>">
        <div id="picture-text">
            <div class="pull-right">
                <span><em>Added by</em> <a href="#"><%=picture.author.username%></a> </span>
                <div><%=picture.created.toDateString()%></div>
            </div>
            <h3><%=picture.name%></h3>
            <%=picture.description%>
            <% if(currentUser && picture.author.id.equals(currentUser.id)) { %>
            <div id="edit-buttons" class="text-center">
                <a href="/pictures/<%=picture.id%>/edit" class="btn btn-primary">Edit</a>
                <form action="/pictures/<%=picture.id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger delete-button">Delete</button>
                </form>
            </div>
            <% } %>
        </div>
    </div>
    <div class="well">
        <button class="btn btn-default" <% if(!currentUser) { %>id="add-comment" <% } else { %> data-toggle="collapse" <% } %> data-target="#collapseExample" type="button" aria-expanded="false" aria-controls="collapseExample">
            Add Comment <span class="caret" aria-hidden="true"></span>
        </button>
        <div class="collapse" id="collapseExample">
            <form action="/pictures/<%=picture.id%>/comments" method="POST">
                <textarea class="form-control" name="text"></textarea>
                <button class="btn btn-info">Submit</button>
            </form>
        </div>
        <% for(var i = 0; i < picture.comments.length; i++) { %>
       
        <hr>
        <div class="comment">
            <strong><a href="#"><%=picture.comments[i].author.username %></a></strong>
            <span>
                <% if(currentUser && picture.comments[i].author.id.equals(currentUser.id)) { %>
                <form class="pull-right delete-button" action="/pictures/<%=picture.id%>/comments/<%=picture.comments[i].id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-xs">Delete</button>
                </form>
                <button class="btn btn-xs btn-primary pull-right edit-comment-button">Edit</button>
                <div class="hidden edit-textbox">
                    <form action="/pictures/<%=picture.id%>/comments/<%=picture.comments[i].id%>?_method=PUT" method="POST">
                        <textarea class="form-control" name="commentText"><%=picture.comments[i].text%></textarea>
                        <button class="btn btn-info btn-sm">Submit</button>
                    </form>
                </div>
                <% } %>
                <div class="comment-text">
                    <%=picture.comments[i].text%>
                </div>
                <div class="date-time"> 
                    <%= picture.comments[i].created.toLocaleString('en-gb', {day: 'numeric', month: 'numeric', year: '2-digit'}) %>
                    <span>at</span>
                    <%= picture.comments[i].created.getHours() + ":" + picture.comments[i].created.getMinutes() %> 
                </div>
            </span>
        </div>
        <% } %>
    </div>
</div>

<% include partials/footer.ejs %>