<% include partials/header.ejs %>

<div class="col-md-2">
    previous
</div>

<div class="col-md-8">
    <div class="img-thumbnail">
        <img class="img-responsive" src="<%=picture.imageLink%>">
        <div id="picture-text">
            <div class="pull-right">
                <em>Added by</em> hossamk
            </div>
            <h3><%=picture.name%></h3>
            <%=picture.description%>
        <div id="edit-buttons" class="text-center">
            <a href="/pictures/<%=picture.id%>/edit" class="btn btn-primary">Edit</a>
            <form action="/pictures/<%=picture.id%>?_method=DELETE" method="POST">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
        
    </div>
</div>

<div class="col-md-2">
    <span class="pull-right">next</span>
</div>


<% include partials/footer.ejs %>